<div class="menu">
    <a href="${ctx}/list/news" data-cmd="href" class="item ${page=='news' ? 'cur'}">
        <span class="font-back">&#xe600;</span>
        首页
    </a>
    <a href="${ctx}/info/score" data-cmd="href" class="item ${page=='score' ? 'cur'}">
        <span class="font-back">&#xe601;</span>
        积分
    </a>
    <a href="${ctx}/info/userCenter" data-cmd="href" class="item ${page=='user' ? 'cur'}">
        <span class="font-back">&#xe602;</span>
        我的
    </a>
</div>